APP_NAME=CivicLens
APP_ENV=production
APP_DEBUG=false
APP_KEY=generate-dengan-php-artisan-key-generate

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=railway
DB_USERNAME=postgres
DB_PASSWORD=

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

CORS_ALLOWED_ORIGINS=https://civiclensapp.netlify.app,http://localhost:5173
